In [1]:
# # KODE UNTUK COPAS DATASET(HAPUS INDEX, PRINT SOMETHING COLUMN)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

# nama_varPDFrames.set_index('index_pengganti', inplace=True)

# nama_varPDFrames.reset_index(drop=True, inplace=True)

# print(nama_varPDFrames['columnYangDicetak'].to_string(index=False, header=False))

In [ ]:
#  popularity  acousticness  danceability  duration_ms  energy  instrumentalness  liveness  loudness  speechiness    tempo  valence        genre
# KODE UNTUK COPAS DATASET(HAPUS INDEX, PRINT SOMETHING COLUMN)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

# music_df.set_index('valence', inplace=True)

# music_df.reset_index(drop=True, inplace=True)

# print(music_df['genre'].to_string(index=False, header=False))

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {
    'srid': [0, 1, 2, 3, 4, 5, 6, 7],
    'lname': ['Adams', 'Edwards', 'Peacock', 'Park', 'Johnson', 'Mitchell', 'King', 'Callahan'],
    'fname': ['Andrew', 'Nancy', 'Jane', 'Margaret', 'Steve', 'Michael', 'Robert', 'Laura'],
    'title': ['General Manager', 'Sales Manager', 'Sales Support Agent', 'Sales Support Agent', 'Sales Support Agent', 'IT Manager', 'IT Staff', 'IT Staff'],
    'hire_date': ['2002-08-14', '2002-05-01', '2002-04-01', '2003-05-03', '2003-10-17', '2003-10-17', '2004-01-02', '2004-03-04'],
    'email': ['andrew@chinookcorp.com', 'nancy@chinookcorp.com', 'jane@chinookcorp.com', 'margaret@chinookcorp.com', 'steve@chinookcorp.com', 'michael@chinookcorp.com', 'robert@chinookcorp.com', 'laura@chinookcorp.com']
}

df = pd.DataFrame(data)
print(df)

   srid     lname     fname                title   hire_date  \
0     0     Adams    Andrew      General Manager  2002-08-14
1     1   Edwards     Nancy        Sales Manager  2002-05-01
2     2   Peacock      Jane  Sales Support Agent  2002-04-01
3     3      Park  Margaret  Sales Support Agent  2003-05-03
4     4   Johnson     Steve  Sales Support Agent  2003-10-17
5     5  Mitchell   Michael           IT Manager  2003-10-17
6     6      King    Robert             IT Staff  2004-01-02
7     7  Callahan     Laura             IT Staff  2004-03-04

                      email
0    andrew@chinookcorp.com
1     nancy@chinookcorp.com
2      jane@chinookcorp.com
3  margaret@chinookcorp.com
4     steve@chinookcorp.com
5   michael@chinookcorp.com
6    robert@chinookcorp.com
7     laura@chinookcorp.com

In [4]:
# df.to_csv('employees.csv', index=False)

In [5]:
datas = {
  'cid' : [
    1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 
    11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 
    21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 
    31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 
    41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 
    51, 52, 53, 54, 55, 56, 57, 58, 59
  ],
  'srid' : [
    3, 5, 3, 4, 4, 5, 5, 4, 4, 4,
    5, 3, 4, 5, 3, 4, 5, 3, 3, 4,
    5, 4, 4, 3, 5, 4, 4, 5, 3, 3,
    5, 4, 3, 4, 4, 5, 3, 3, 4, 4,
    5, 3, 3, 3, 3, 3, 5, 5, 4, 5,
    5, 3, 3, 5, 4, 4, 5, 3, 3
  ],
  'fname' : [
    'Luís', 'Leonie', 'François', 'Bjørn', 'František',
    'Helena', 'Astrid', 'Daan', 'Kara', 'Eduardo',
    'Alexandre', 'Roberto', 'Fernanda', 'Mark', 'Jennifer',
    'Frank', 'Jack', 'Michelle', 'Tim', 'Dan',
    'Kathy', 'Heather', 'John', 'Frank', 'Victor',
    'Richard', 'Patrick', 'Julia', 'Robert', 'Edward',
    'Martha', 'Aaron', 'Ellie', 'João', 'Madalena',
    'Hannah', 'Fynn', 'Niklas', 'Camille', 'Dominique',
    'Marc', 'Wyatt', 'Isabelle', 'Terhi', 'Ladislav',
    'Hugh', 'Lucas', 'Johannes', 'Stanisław', 'Enrique',
    'Joakim', 'Emma', 'Phil', 'Steve', 'Mark',
    'Diego', 'Luis', 'Manoj', 'Puja'
  ],
  'lname' : [
    'Gonçalves', 'Köhler', 'Tremblay', 'Hansen', 'Wichterlová',
    'Holý', 'Gruber', 'Peeters', 'Nielsen', 'Martins',
    'Rocha', 'Almeida', 'Ramos', 'Philips', 'Peterson',
    'Harris', 'Smith', 'Brooks', 'Goyer', 'Miller',
    'Chase', 'Leacock', 'Gordon', 'Ralston', 'Stevens',
    'Cunningham', 'Gray', 'Barnett', 'Brown', 'Francis',
    'Silk', 'Mitchell', 'Sullivan', 'Fernandes', 'Sampaio',
    'Schneider', 'Zimmermann', 'Schröder', 'Bernard', 'Lefebvre',
    'Dubois', 'Girard', 'Mercier', 'Hämäläinen', 'Kovács',
    "O'Reilly", 'Mancini', 'Van der Berg', 'Wójcik', 'Muñoz',
    'Johansson', 'Jones', 'Hughes', 'Murray', 'Taylor',
    'Gutiérrez', 'Rojas', 'Pareek', 'Srivastava'
  ],
  'phone' : [
    "+55 (12) 3923-5555", "+49 0711 2842222", "+1 (514) 721-4711", "+47 22 44 22 22", "+420 2 4172 5555",
    "+420 2 4177 0449", "+43 01 5134505", "+32 02 219 03 03", "+453 3331 9991", "+55 (11) 3033-5446",
    "+55 (11) 3055-3278", "+55 (21) 2271-7000", "+55 (61) 3363-5547", "+1 (780) 434-4554", "+1 (604) 688-2255",
    "+1 (650) 253-0000", "+1 (425) 882-8080", "+1 (212) 221-3546", "+1 (408) 996-1010", "+1 (650) 644-3358",
    "+1 (775) 223-7665", "+1 (407) 999-7788", "+1 (617) 522-1333", "+1 (312) 332-3232", "+1 (608) 257-0597",
    "+1 (817) 924-7272", "+1 (520) 622-4200", "+1 (801) 531-7272", "+1 (416) 363-8888", "+1 (613) 234-3322",
    "+1 (902) 450-0450", "+1 (204) 452-6452", "+1 (867) 920-2233", "+351 (213) 466-111", "+351 (225) 022-448",
    "+49 030 26550280", "+49 069 40598889", "+49 030 2141444", "+33 01 49 70 65 65", "+33 01 47 42 71 71",
    "+33 04 78 30 30 30", "+33 05 56 96 96 96", "+33 03 80 73 66 99", "+358 09 870 2000", float('nan'),
    "+353 01 6792424", "+39 06 39733434", "+31 020 6223130", "+48 22 828 37 39", "+34 914 454 454",
    "+46 08-651 52 52", "+44 020 7707 0707", "+44 020 7976 5722", "+44 0131 315 3300", "+61 (02) 9332 3633",
    "+54 (0)11 4311 4333", "+56 (0)2 635 4444", "+91 0124 39883988", "+91 080 22289999"
  ],
  'fax' : [
  "+55 (12) 3923-5566", None, None, None, "+420 2 4172 5555",
  None, None, None, None, "+55 (11) 3033-4564",
  "+55 (11) 3055-8131", "+55 (21) 2271-7070", "+55 (61) 3363-7855",
  "+1 (780) 434-5565", "+1 (604) 688-8756", "+1 (650) 253-0000",
  "+1 (425) 882-8081", "+1 (212) 221-4679", "+1 (408) 996-1011",
  None, None, None, None, None, None, None, None, None, None,
  None, None, None, None, None, None, None, None, None, None,
  None, None, None, None, None, None, None, None, None, None,
  None, None, None, None, None, None, None, None, None, None,
    ],
  'email' : [
    'luisg@embraer.com.br', 'leonekohler@surfeu.de', 'ftremblay@gmail.com', 'bjorn.hansen@yahoo.no',
    'frantisekw@jetbrains.com', 'hholy@gmail.com', 'astrid.gruber@apple.at', 'daan_peeters@apple.be',
    'kara.nielsen@jubii.dk', 'eduardo@woodstock.com.br', 'alero@uol.com.br', 'roberto.almeida@riotur.gov.br',
    'fernadaramos4@uol.com.br', 'mphilips12@shaw.ca', 'jenniferp@rogers.ca', 'fharris@google.com',
    'jacksmith@microsoft.com', 'michelleb@aol.com', 'tgoyer@apple.com', 'dmiller@comcast.com',
    'kachase@hotmail.com', 'hleacock@gmail.com', 'johngordon22@yahoo.com', 'fralston@gmail.com',
    'vstevens@yahoo.com', 'ricunningham@hotmail.com', 'patrick.gray@aol.com', 'jubarnett@gmail.com',
    'robbrown@shaw.ca', 'edfrancis@yachoo.ca', 'marthasilk@gmail.com', 'aaronmitchell@yahoo.ca',
    'ellie.sullivan@shaw.ca', 'jfernandes@yahoo.pt', 'masampaio@sapo.pt', 'hannah.schneider@yahoo.de',
    'fzimmermann@yahoo.de', 'nschroder@surfeu.de', 'camille.bernard@yahoo.fr', 'dominiquelefebvre@gmail.com',
    'marc.dubois@hotmail.com', 'wyatt.girard@yahoo.fr', 'isabelle_mercier@apple.fr', 'terhi.hamalainen@apple.fi',
    'ladislav_kovacs@apple.hu', 'hughoreilly@apple.ie', 'lucas.mancini@yahoo.it', 'johavanderberg@yahoo.nl',
    'stanisław.wójcik@wp.pl', 'enrique_munoz@yahoo.es', 'joakim.johansson@yahoo.se', 'emma_jones@hotmail.com',
    'phil.hughes@gmail.com', 'steve.murray@yahoo.uk', 'mark.taylor@yahoo.au', 'diego.gutierrez@yahoo.ar',
    'luisrojas@yahoo.cl', 'manoj.pareek@rediff.com', 'puja_srivastava@yahoo.in'
  ]
}

d = datas['fax']
print(len(d))

59

In [6]:
datas = pd.DataFrame(datas)
datas

,cid,srid,fname,lname,phone,fax,email
0,1,3,Luís,Gonçalves,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br
1,2,5,Leonie,Köhler,+49 0711 2842222,None,leonekohler@surfeu.de
2,3,3,François,Tremblay,+1 (514) 721-4711,None,ftremblay@gmail.com
3,4,4,Bjørn,Hansen,+47 22 44 22 22,None,bjorn.hansen@yahoo.no
4,5,4,František,Wichterlová,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com
5,6,5,Helena,Holý,+420 2 4177 0449,None,hholy@gmail.com
6,7,5,Astrid,Gruber,+43 01 5134505,None,astrid.gruber@apple.at
7,8,4,Daan,Peeters,+32 02 219 03 03,None,daan_peeters@apple.be
8,9,4,Kara,Nielsen,+453 3331 9991,None,kara.nielsen@jubii.dk
9,10,4,Eduardo,Martins,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br
10,11,5,Alexandre,Rocha,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br
11,12,3,Roberto,Almeida,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br
12,13,4,Fernanda,Ramos,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br
13,14,5,Mark,Philips,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca
14,15,3,Jennifer,Peterson,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca
15,16,4,Frank,Harris,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com
16,17,5,Jack,Smith,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com
17,18,3,Michelle,Brooks,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com
18,19,3,Tim,Goyer,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com
19,20,4,Dan,Miller,+1 (650) 644-3358,None,dmiller@comcast.com
20,21,5,Kathy,Chase,+1 (775) 223-7665,None,kachase@hotmail.com
21,22,4,Heather,Leacock,+1 (407) 999-7788,None,hleacock@gmail.com
22,23,4,John,Gordon,+1 (617) 522-1333,None,johngordon22@yahoo.com
23,24,3,Frank,Ralston,+1 (312) 332-3232,None,fralston@gmail.com
24,25,5,Victor,Stevens,+1 (608) 257-0597,None,vstevens@yahoo.com
25,26,4,Richard,Cunningham,+1 (817) 924-7272,None,ricunningham@hotmail.com
26,27,4,Patrick,Gray,+1 (520) 622-4200,None,patrick.gray@aol.com
27,28,5,Julia,Barnett,+1 (801) 531-7272,None,jubarnett@gmail.com
28,29,3,Robert,Brown,+1 (416) 363-8888,None,robbrown@shaw.ca
29,30,3,Edward,Francis,+1 (613) 234-3322,None,edfrancis@yachoo.ca
30,31,5,Martha,Silk,+1 (902) 450-0450,None,marthasilk@gmail.com
31,32,4,Aaron,Mitchell,+1 (204) 452-6452,None,aaronmitchell@yahoo.ca
32,33,3,Ellie,Sullivan,+1 (867) 920-2233,None,ellie.sullivan@shaw.ca
33,34,4,João,Fernandes,+351 (213) 466-111,None,jfernandes@yahoo.pt
34,35,4,Madalena,Sampaio,+351 (225) 022-448,None,masampaio@sapo.pt
35,36,5,Hannah,Schneider,+49 030 26550280,None,hannah.schneider@yahoo.de
36,37,3,Fynn,Zimmermann,+49 069 40598889,None,fzimmermann@yahoo.de
37,38,3,Niklas,Schröder,+49 030 2141444,None,nschroder@surfeu.de
38,39,4,Camille,Bernard,+33 01 49 70 65 65,None,camille.bernard@yahoo.fr
39,40,4,Dominique,Lefebvre,+33 01 47 42 71 71,None,dominiquelefebvre@gmail.com
40,41,5,Marc,Dubois,+33 04 78 30 30 30,None,marc.dubois@hotmail.com
41,42,3,Wyatt,Girard,+33 05 56 96 96 96,None,wyatt.girard@yahoo.fr
42,43,3,Isabelle,Mercier,+33 03 80 73 66 99,None,isabelle_mercier@apple.fr
43,44,3,Terhi,Hämäläinen,+358 09 870 2000,None,terhi.hamalainen@apple.fi
44,45,3,Ladislav,Kovács,NaN,None,ladislav_kovacs@apple.hu
45,46,3,Hugh,O'Reilly,+353 01 6792424,None,hughoreilly@apple.ie
46,47,5,Lucas,Mancini,+39 06 39733434,None,lucas.mancini@yahoo.it
47,48,5,Johannes,Van der Berg,+31 020 6223130,None,johavanderberg@yahoo.nl
48,49,4,Stanisław,Wójcik,+48 22 828 37 39,None,stanisław.wójcik@wp.pl
49,50,5,Enrique,Muñoz,+34 914 454 454,None,enrique_munoz@yahoo.es
50,51,5,Joakim,Johansson,+46 08-651 52 52,None,joakim.johansson@yahoo.se
51,52,3,Emma,Jones,+44 020 7707 0707,None,emma_jones@hotmail.com
52,53,3,Phil,Hughes,+44 020 7976 5722,None,phil.hughes@gmail.com
53,54,5,Steve,Murray,+44 0131 315 3300,None,steve.murray@yahoo.uk
54,55,4,Mark,Taylor,+61 (02) 9332 3633,None,mark.taylor@yahoo.au
55,56,4,Diego,Gutiérrez,+54 (0)11 4311 4333,None,diego.gutierrez@yahoo.ar
56,57,5,Luis,Rojas,+56 (0)2 635 4444,None,luisrojas@yahoo.cl
57,58,3,Manoj,Pareek,+91 0124 39883988,None,manoj.pareek@rediff.com
58,59,3,Puja,Srivastava,+91 080 22289999,None,puja_srivastava@yahoo.in

In [7]:
# datas.to_csv('top_cust.csv', index=False)

In [8]:

data = {
    'tid': [1853, 1854, 1857],
    'name': ['Battery', 'Master Of Puppets', 'Disposable Heroes'],
    'aid': [152, 152, 152],
    'mtid': [1, 1, 1],
    'gid': [3, 3, 3],
    'composer': ['J.Hetfield/L.Ulrich', 'K.Hammett', 'J.Hetfield/L.Ulrich'],
    'u_price': [0.99, 0.99, 0.99]
}

df = pd.DataFrame(data)
print(df)

    tid               name  aid  mtid  gid             composer  u_price
0  1853            Battery  152     1    3  J.Hetfield/L.Ulrich     0.99
1  1854  Master Of Puppets  152     1    3            K.Hammett     0.99
2  1857  Disposable Heroes  152     1    3  J.Hetfield/L.Ulrich     0.99

In [9]:
# df.to_csv('tracks_master.csv', index=False)

In [10]:
# Define the data
data = {
    "tid": [1874, 1875, 1876, 1877, 1878],
    "name": ["Fight Fire With Fire", "Ride The Lightning", "For Whom The Bell Tolls", "Fade To Black", "Trapped Under Ice"],
    "aid": [154, 154, 154, 154, 154],
    "mtid": [1, 1, 1, 1, 1],
    "gid": [3, 3, 3, 3, 3],
    "u_price": [0.99, 0.99, 0.99, 0.99, 0.99]
}

# Convert the data to a pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

    tid                     name  aid  mtid  gid  u_price
0  1874     Fight Fire With Fire  154     1    3     0.99
1  1875       Ride The Lightning  154     1    3     0.99
2  1876  For Whom The Bell Tolls  154     1    3     0.99
3  1877            Fade To Black  154     1    3     0.99
4  1878        Trapped Under Ice  154     1    3     0.99

In [11]:
# df.to_csv('tracks_ride.csv', index=False)

In [12]:
data = {
    'tid': [1882, 1883, 1884, 1885, 1886],
    'name': ['Frantic', 'St. Anger', 'Some Kind Of Monster', 'Dirty Window', 'Invisible Kid'],
    'aid': [155, 155, 155, 155, 155],
    'mtid': [1, 1, 1, 1, 1],
    'gid': [3, 3, 3, 3, 3],
    'u_price': [0.99, 0.99, 0.99, 0.99, 0.99]
}

df = pd.DataFrame(data)
print(df)

    tid                  name  aid  mtid  gid  u_price
0  1882               Frantic  155     1    3     0.99
1  1883             St. Anger  155     1    3     0.99
2  1884  Some Kind Of Monster  155     1    3     0.99
3  1885          Dirty Window  155     1    3     0.99
4  1886         Invisible Kid  155     1    3     0.99

In [13]:
# df.to_csv('tracks_st.csv', index=False)

In [14]:

data = {
    'iid': [42, 43, 44, 45, 46, 47, 48, 126, 127, 128, 129, 130, 131, 132, 209, 210, 211, 212, 213, 214, 215, 292, 293, 294, 295, 296, 297, 298, 371, 372, 373, 374, 375, 376, 377],
    'cid': [51, 53, 55, 59, 6, 15, 29, 35, 37, 39, 43, 49, 58, 13, 18, 19, 21, 23, 27, 33, 42, 47, 2, 3, 5, 7, 11, 17, 8, 10, 12, 16, 22, 31, 45],
    'invoice_date': ['2009-07-06', '2009-07-06', '2009-07-07', '2009-07-08', '2009-07-11', '2009-07-16', '2009-07-24', '2010-07-13', '2010-07-13', '2010-07-14', '2010-07-15', '2010-07-18', '2010-07-23', '2010-07-31', '2011-07-07', '2011-07-20', '2011-07-20', '2011-07-21', '2011-07-22', '2011-07-25', '2011-07-30', '2012-07-05', '2012-07-13', '2012-07-26', '2012-07-26', '2012-07-27', '2012-07-28', '2012-07-31', '2013-07-02', '2013-07-02', '2013-07-03', '2013-07-04', '2013-07-07', '2013-07-12', '2013-07-20'],
    'total': [1.98, 1.98, 3.96, 5.94, 8.91, 13.86, 0.99, 1.98, 1.98, 3.96, 5.94, 8.91, 13.86, 0.99, 0.99, 1.98, 1.98, 3.96, 5.94, 8.91, 13.86, 13.86, 0.99, 1.98, 1.98, 3.96, 5.94, 10.91, 1.98, 1.98, 3.96, 5.94, 8.91, 13.86, 0.99],
    'bill_ctry': ['Sweden', 'UK', 'Australia', 'India', 'Czech Republic', 'Canada', 'Canada', 'Portugal', 'Germany', 'France', 'France', 'Poland', 'India', 'Brazil', 'USA', 'USA', 'USA', 'USA', 'USA', 'Canada', 'France', 'Italy', 'Germany', 'Canada', 'Czech Republic', 'Austria', 'Brazil', 'USA', 'Belgium', 'Brazil', 'Brazil', 'USA', 'USA', 'Canada', 'Hungary']
}

df = pd.DataFrame(data)
print(df.head())

   iid  cid invoice_date  total       bill_ctry
0   42   51   2009-07-06   1.98          Sweden
1   43   53   2009-07-06   1.98              UK
2   44   55   2009-07-07   3.96       Australia
3   45   59   2009-07-08   5.94           India
4   46    6   2009-07-11   8.91  Czech Republic

In [15]:
# df.to_csv('inv_jul.csv', index=False)

In [16]:
data = {
    'iid': [49, 50, 51, 52, 53, 54, 55, 133, 134, 135, 136, 137, 138, 139, 216, 217, 218, 219, 220, 221, 222, 299, 300, 301, 302, 303, 304, 305, 378, 379, 380, 381, 382, 383, 384],
    'cid': [30, 32, 34, 38, 44, 53, 8, 14, 16, 18, 22, 28, 37, 51, 56, 57, 59, 2, 6, 12, 21, 26, 40, 41, 43, 45, 49, 55, 46, 48, 50, 54, 1, 10, 24],
    'invoice_date': ['2009-08-06', '2009-08-06', '2009-08-07', '2009-08-08', '2009-08-11', '2009-08-16', '2009-08-24', '2010-08-13', '2010-08-13', '2010-08-14', '2010-08-15', '2010-08-18', '2010-08-23', '2010-08-31', '2011-08-07', '2011-08-20', '2011-08-20', '2011-08-21', '2011-08-22', '2011-08-25', '2011-08-30', '2012-08-05', '2012-08-13', '2012-08-26', '2012-08-26', '2012-08-27', '2012-08-28', '2012-08-31', '2013-08-02', '2013-08-02', '2013-08-03', '2013-08-04', '2013-08-07', '2013-08-12', '2013-08-20'],
    'total': [1.98, 1.98, 3.96, 5.94, 8.91, 13.86, 0.99, 1.98, 1.98, 3.96, 5.94, 8.91, 13.86, 0.99, 0.99, 1.98, 1.98, 3.96, 5.94, 8.91, 13.86, 23.86, 0.99, 1.98, 1.98, 3.96, 5.94, 8.91, 1.98, 1.98, 3.96, 5.94, 8.91, 13.86, 0.99],
    'bill_ctry': ['Canada', 'Canada', 'Portugal', 'Germany', 'Finland', 'UK', 'Belgium', 'Canada', 'USA', 'USA', 'USA', 'USA', 'Germany', 'Sweden', 'Argentina', 'Chile', 'India', 'Germany', 'Czech Republic', 'Brazil', 'USA', 'USA', 'France', 'France', 'France', 'Hungary', 'Poland', 'Australia', 'Ireland', 'Netherlands', 'Spain', 'UK', 'Brazil', 'Brazil', 'USA']
}

df = pd.DataFrame(data)
print(df.head())

   iid  cid invoice_date  total bill_ctry
0   49   30   2009-08-06   1.98    Canada
1   50   32   2009-08-06   1.98    Canada
2   51   34   2009-08-07   3.96  Portugal
3   52   38   2009-08-08   5.94   Germany
4   53   44   2009-08-11   8.91   Finland

In [17]:
# df.to_csv('inv_aug.csv', index=False)

In [18]:
data_2 = {
    'iid': [56, 57, 58, 59, 60, 61, 62, 140, 141, 142, 143, 144, 145, 223, 224, 225, 226, 227, 228, 229, 306, 307, 308, 309, 310, 311, 385, 386, 387, 388, 389, 390, 391],
    'cid': [9, 11, 13, 17, 23, 32, 46, 52, 54, 56, 1, 7, 16, 35, 36, 38, 40, 44, 50, 59, 5, 19, 20, 22, 24, 28, 25, 27, 29, 33, 39, 48, 3],
    'invoice_date': ['2009-09-06', '2009-09-06', '2009-09-07', '2009-09-08', '2009-09-11', '2009-09-16', '2009-09-24', '2010-09-13', '2010-09-13', '2010-09-14', '2010-09-15', '2010-09-18', '2010-09-23', '2011-09-07', '2011-09-20', '2011-09-20', '2011-09-21', '2011-09-22', '2011-09-25', '2011-09-30', '2012-09-05', '2012-09-13', '2012-09-26', '2012-09-26', '2012-09-27', '2012-09-28', '2013-09-02', '2013-09-02', '2013-09-03', '2013-09-04', '2013-09-07', '2013-09-12', '2013-09-20'],
    'total': [1.98, 1.98, 3.96, 5.94, 8.91, 13.86, 0.99, 1.98, 1.98, 3.96, 5.94, 8.91, 13.86, 0.99, 1.98, 1.98, 3.96, 5.94, 8.91, 13.86, 16.86, 1.99, 3.98, 3.98, 7.96, 11.94, 1.98, 1.98, 3.96, 5.94, 8.91, 13.86, 0.99],
    'bill_ctry': ['Denmark', 'Brazil', 'Brazil', 'USA', 'USA', 'Canada', 'Ireland', 'UK', 'UK', 'Argentina', 'Brazil', 'Austria', 'USA', 'Portugal', 'Germany', 'Germany', 'France', 'Finland', 'Spain', 'India', 'Czech Republic', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'USA', 'Canada', 'Canada', 'France', 'Netherlands', 'Canada']
}

df_2 = pd.DataFrame(data_2)
print(df_2.head())

   iid  cid invoice_date  total bill_ctry
0   56    9   2009-09-06   1.98   Denmark
1   57   11   2009-09-06   1.98    Brazil
2   58   13   2009-09-07   3.96    Brazil
3   59   17   2009-09-08   5.94       USA
4   60   23   2009-09-11   8.91       USA

In [19]:
# df_2.to_csv('inv_sep.csv', index=False)

In [21]:
df = {
  'pid' : [12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12],
  'tid' : [3483, 3416, 3489, 3479, 3440, 3414, 3433, 3491, 3422, 3417, 3439, 3447, 3454, 3497, 3488, 3501, 3484, 3438, 3409, 3419, 3444, 3445, 3495, 3449, 3450]
}

df = pd.DataFrame(df)
df.head()

   pid   tid
0   12  3483
1   12  3416
2   12  3489
3   12  3479
4   12  3440

In [23]:
# df.to_csv('classic_18.csv', index=False)

In [24]:
data = {
    'pid': [12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12],
    'tid': [3482, 3434, 3448, 3499, 3425, 3493, 3446, 3432, 3410, 3441, 3407, 3436, 3418, 3415, 3452, 3403, 3405, 3413, 3424, 3443, 3430, 3487, 3494, 3437, 3420, 3435, 3502]
}

df = pd.DataFrame(data)
df.head()

   pid   tid
0   12  3482
1   12  3434
2   12  3448
3   12  3499
4   12  3425

In [25]:
# df.to_csv('classic_19.csv', index=False)